.header{
  background: #4a76a8;
  width: 500px;
  border-radius: 0 0 14px 14px;
  height: 80px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.field{
  border: 0;
  box-sizing: border-box;
  padding: 6px 6px 6px 19px;
  margin: 7px 0;
  height: 28px;
  line-height: 16px;
  width: 170px;
  border-radius: 14px;
  transition: background-color 0.05s, color 0.05s;
  background: #224b7a url(http://maximq.digital/img/ic_head_loupe.svg) no-repeat;
  border-left: 8px solid transparent;
  background-position: left 8px;
  color: #d9e2ec;
}
.ava{
  margin-left: auto;
  margin-top: 8px;
}
.ava > a{
  margin-right: 10px;
}
.ava > a > img{
  border-radius: 14px;
  width: 28px;
  height: 28px;
}
#albums{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  object-fit: cover;
}
#albums:after{
  content: '';
  flex: auto;
}
.hidden{
  visibility: hidden;
  height: 0;
}
#albums > div{
  width: 245px;
  height: 165px;
  border: black solid;
  margin-bottom: 10px;
  overflow: hidden;
}
#albums > div > img{
  width: 245px;
  height: 165px;
  object-fit: cover;
}
#albums > div > div{
  -webkit-transition: all 0.1s linear;
  color: white;
  position: relative;
  background: url("../img/album_top_shadow.png");
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  bottom: 22px;
}
#albums > div > div > b{
  color: #e6e6e6;
  float: right;
  padding-right: 5px;

}
.description{
  visibility: hidden;
  display: none;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 245px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height:75px;
}
#albums > div:hover > div{
  -webkit-transition: all 0.1s linear;
  transform: translateY(-55px);
}
#albums > div:hover .description{
  visibility: visible;
  display: -webkit-box;
}
